.app {
  display: flex;
  height: 100vh;
  border: 1px 1px #1f7524;
}

.left-window, .right-window {
  flex: wrap;
  padding: 20px;
  border: 1px 1px #1f7524;
}

.left-window {
  background-color: #1f7524;
}

.right-window {
  background-color: #1f7524;
  display: flex;
  flex-direction: column;
  align-items: center;
}